body {
  background-color: "blue";
}

button {
  background-color: "red";
}
.container {
  display: grid;
  grid-template-columns: auto auto auto 45%;
  grid-template-rows: 15% auto auto auto 7%;
}
.tile {
  grid-column-end: span 1;
  grid-row-end: span 1;
}
