body {
  background-color: "blue";
}

body, html, #app, .container {
  height: 100%;
}

button {
  background-color: "red";
}
.container {
  display: grid;
  grid-template-columns: auto auto auto 45%;
  grid-template-rows: 15% auto auto auto 7%;
}
.banner {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  background-color: #222222;

}
.tile {
  grid-column-end: span 1;
  grid-row-end: span 1;
}
.description {
  grid-column: 4/ span 1;
  grid-row: 2 / span 4;
}
